---
import Layaout from "../components/layaout/Layaout.astro";
import Banner from "../components/Banner.astro";
import MVVCard from "../components/MVVCard.astro";
import ServiceCard from "../components/ServiceCard.astro";
import ProductCard from "../components/ProductCard.astro";
import Testimonio from "../components/Testimonio.astro";
---

<style>
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000065;
    }

    @media(min-width: 768px) {
        .img-bx {
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        }
    }
</style>

<Layaout>
    <main class="flex flex-col flex-1">
        <Banner />
        <div class="relative grid gap-32 sm:gap-40 md:gap-48 lg:gap-64">
            <!--acerda de  -->
            <section class="relative">
                <div class="max-w-screen-xl px-4 mx-auto min-w-0 mt-24">
                    <article class="grid md:grid-cols-2 gap-2">
                        <div class="overflow-hidden relative img-bx">
                            <img
                                src="/bg-banner.jpeg"
                                alt="imagen-breve-historia"
                                class="w-full h-full object-cover"
                            />
                        </div>
                        <article class="p-4 flex flex-col gap-y-4 text-gray-700">
                            <h2 class="text-green-500 text-3xl font-bold">Breve historia</h2>
                            <p class="">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Ex tenetur dolor voluptatem
                                laboriosam dicta velit? Nisi aliquam alias,
                                repudiandae pariatur voluptatum temporibus
                                ratione nesciunt nemo fugit atque aut numquam
                                et.
                            </p>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Qui, sapiente? Debitis ut
                                voluptas alias vitae nesciunt rerum omnis!
                                Facilis tempora praesentium maiores placeat
                                deleniti animi, ipsa aliquid itaque incidunt
                                nisi? Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Explicabo modi dicta
                                exercitationem commodi ipsa illo quos aliquid
                                voluptates suscipit cumque in, excepturi,
                                consectetur qui eum debitis, soluta autem dolor
                                impedit!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Incidunt exercitationem nobis
                                laboriosam neque quaerat aperiam aliquid saepe
                                alias consequuntur officia optio provident
                                ratione, sequi aliquam? Quisquam amet, in
                                explicabo at dolorum minima. Eligendi,
                                necessitatibus tempora voluptates pariatur id
                                odit dignissimos.
                            </p>
                        </article>
                    </article>
                </div>
            </section>
            <!--mision viison valores -->
            <section class="">
                <div class="max-w-screen-xl min-w-0 mx-auto">
                    <MVVCard />
                    <div class="text-center mt-12">
                        <a href="#" class="text-xl text-gray-100 py-4 px-6 rounded-lg bg-green-500 hover:bg-green-600">Mostrar más</a>
                    </div>
                </div>
            </section>
            <!-- Servicios -->
            <section class="relative">
                <div class="text-center mx-auto max-w-3xl">
                    <h2
                        class="text-5xl sm:text-6xl text-green-500 mb- px-4 max-w-3xl mb-8 md:mb-10 font-medium"
                    >
                        Nuestros Servicios
                    </h2>
                    <p class="max-w-3xl px-8 text-2xl md:text-xl">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Placeat molestias tempore necessitatibus nobis
                        maxime quo modi labore eius similique ad.
                    </p>
                </div>
                <div class="mt-12">
                    <div class="grid lg:grid-cols-4 gap-5">
                        <div class="lg:col-span-3 px-4 xl:pl-20">
                            <ServiceCard />
                            <ServiceCard />
                            <ServiceCard />
                            <ServiceCard />
                        </div>
                        <div
                            class="overflow-hidden lg:col-span-1 lg:h-full h-80 relative lg:pr-4 img-containe flex justify-center items-center"
                        >
                            <img
                                src="https://img.gruporeforma.com/imagenes/960x640/6/194/5193257.jpg"
                                alt="imagen-sobre-cultivos"
                                class="w-full h-full object-cover absolute top-0 left-0"
                            />
                            <div
                                class="lg:hidden absolute text-center z-50 flex flex-col gap-6 items-center"
                            >
                                <h2 class="text-4xl title text-gray-200 px-4">
                                    Lorem ipsum dolor sit amet.
                                </h2>
                                <a
                                    href="#"
                                    class="text-2xl px-6 rounded-full text-center text-gray-200 bg-green-500 inline-block max-w-max py-3 mx-4 hover:bg-green-600 transition-all duration-100 ease-out hover:text-gray-100"
                                    >Contactar</a
                                >
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- productos -->
            <section>
                <div class="text-center mx-auto max-w-3xl">
                    <h2
                        class="text-4xl sm:text-6xl text-green-500 mb- px-4 max-w-3xl mb-8 md:mb-10 font-medium"
                    >
                        Nuestros Productos
                    </h2>
                    <p class="max-w-3xl px-8 text-xl md:text-xl">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Placeat molestias tempore.
                    </p>
                </div>
                <div class="mt-12">
                    <div
                        class="mx-auto grid min-w-0 max-w-screen-xl grid-cols-1 gap-5 px-4 sm:grid-cols-2 lg:grid-cols-3"
                    >
                        <ProductCard />
                        <ProductCard />
                        <ProductCard />
                        <div class="grid lg:col-span-3">
                            <ProductCard cardLg={true} />
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonios -->
            <section class="flex justify-center items-center flex-col mb-12">
                <div class="max-w-3xl mx-auto text-center">
                    <h2 class="text-5xl px-4 mb-8 font-medium">
                        ¡Vea lo que dicen <span class="text-green-500"
                            >nuestros</span
                        > clientes!
                    </h2>
                    <p class="px-8 text-center text-xl mx-auto">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Perferendis, tempora?
                    </p>
                </div>
                <div class="grid md:grid-cols-4 gap-4 sm:gap-6 px-4 mx-auto max-w-screen-xl mt-12"
                >
                    <Testimonio />
                    <Testimonio />
                    <Testimonio />
                    <Testimonio />
                </div>
            </section>
        </div>
    </main>
</Layaout>
