---
import Layaout from "../components/layaout/Layaout.astro";
import Banner from "../components/Banner.astro";
import MVVCard from "../components/MVVCard.astro";
import ServiceCard from "../components/ServiceCard.astro";
import ProductCard from "../components/ProductCard.astro";
import Testimonio from "../components/Testimonio.astro";
import Galeria from "../components/Galeria";
---

<style>

    /* .imgBoxAcerda-de {
        clip-path: polygon(92% 15%, 77% 15%, 53% 6%, 19% 7%, 0% 25%, 2% 47%, 0% 82%, 16% 96%, 38% 100%, 62% 99%, 77% 95%, 92% 81%, 97% 62%, 100% 29%);
    } */

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000065;
    }

    @media (min-width: 768px) {
        .img-bx {
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        }
    }
</style>

<Layaout title={'AZUABANA | INICIO'}>
    <main class="flex flex-col flex-1">
        <Banner />
        <div class="relative grid gap-32 sm:gap-40 md:gap-48 lg:gap-64">
            <!--acerda de  -->
            <section class="relative">
                <div class="max-w-screen-xl px-4 mx-auto min-w-0 mt-24">
                    <article class="grid md:grid-cols-2 gap-2">
                        <div class="overflow-hidden relative img-bx">
                            <img
                                src="/bg-banner.jpeg"
                                alt="imagen-breve-historia"
                                class="w-full h-full object-cover imgBoxAcerda-de"
                            />
                        </div>
                        <article
                            class="p-4 flex flex-col gap-y-4 text-gray-700"
                        >
                            <h2 class="text-green-500 text-3xl font-bold">
                                AZUABANA
                            </h2>
                            <p class="text-xl">
                                La Asociación de Productores de Bananos Orgánicos del Valle de Azua sigue siendo un referente en la industria bananera orgánica, destacando por su compromiso con la calidad de sus productos y la preservación del medio ambiente. Su labor contribuye a fortalecer la economía local y a mantener la belleza natural de la región, convirtiéndola en un lugar sostenible y próspero para las futuras generaciones de productores de banano orgánico.
                            </p>
                        </article>
                    </article>
                </div>
            </section>
            <!--mision viison valores -->
            <section class="">
                <div class="max-w-screen-xl min-w-0 mx-auto">
                    <MVVCard />
                    <div class="text-center mt-12">
                        <a
                            href="/acerca-de"
                            class="text-xl text-gray-100 py-4 px-6 rounded-lg bg-green-500 hover:bg-green-600"
                            >Acerca de nosotros</a
                        >
                    </div>
                </div>
            </section>
            <!-- Servicios -->
            <section class="relative">
                <div class="text-center mx-auto max-w-3xl">
                    <h2
                        class="text-5xl sm:text-6xl text-green-500 mb- px-4 max-w-3xl mb-8 md:mb-10 font-medium"
                    >
                        Nuestros Servicios
                    </h2>
                    <p class="max-w-3xl px-8 text-2xl md:text-xl">
                        Ofrecemos múltiples insumos para la <span class="text-green-500">producción de  bananos</span> y otros cultivos.
                    </p>
                </div>
                <div class="mt-12">
                    <div class="grid lg:grid-cols-4 gap-5">
                        <div class="lg:col-span-3 px-4 xl:pl-20">
                            <ServiceCard title="Comercialización de banano de pequeños productores" description='AZUABANA facilita la comercialización del banano de pequeños productores de la región sur del país hacia los mercados nacionales e internacionales.' />
                            <ServiceCard title='Accesoría técnica' description="Ofrecemos asistencia técnica a productores bajo normas de producción orgánica ambientalmente sostenible y comercio justo. " />
                            <ServiceCard title="Insumos agrícolas" description='Facilitamos todos los productos necesarios para la producción de bananos y otros rubros agrícolas.'/>
                        </div>
                        <div
                            class="overflow-hidden lg:col-span-1 lg:h-full h-80 relative lg:pr-4 img-containe flex justify-center items-center"
                        >
                            <img
                                src="https://img.gruporeforma.com/imagenes/960x640/6/194/5193257.jpg"
                                alt="imagen-sobre-cultivos"
                                class="w-full h-full object-cover absolute top-0 left-0"
                            />
                            <div
                                class="lg:hidden absolute text-center z-50 flex flex-col gap-6 items-center"
                            >
                                <h2 class="text-4xl title text-gray-200 px-4">
                                    Lorem ipsum dolor sit amet.
                                </h2>
                                <a
                                    href="#"
                                    class="text-2xl px-6 rounded-full text-center text-gray-200 bg-green-500 inline-block max-w-max py-3 mx-4 hover:bg-green-600 transition-all duration-100 ease-out hover:text-gray-100"
                                    >Contactar</a
                                >
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- productos -->
            <section>
                <div class="text-center mx-auto max-w-3xl">
                    <h2
                        class="text-4xl sm:text-6xl text-green-500 mb- px-4 max-w-3xl mb-8 md:mb-10 font-medium"
                    >
                        Nuestros Productos
                    </h2>
                    <p class="max-w-3xl px-8 text-xl md:text-xl">
                        Nuestros productos son producidos con un bajo impacto ambiental y promueven el desarrollo de las comunidades y la mano de obra local.
                    </p>
                </div>
                <div class="mt-12">
                    <div
                        class="mx-auto grid min-w-0 max-w-screen-xl grid-cols-1 gap-5 px-4 sm:grid-cols-2 lg:grid-cols-3"
                    >
                        <ProductCard title={'Abono bocashi'} price={'150RD$'} />
                        <ProductCard title={'Humus de lombriz'} price={'300RD$'} />
                        <ProductCard title={'Bioles'} price={'6RD$'} />
                        <div class="grid lg:col-span-3">
                            <ProductCard cardLg={true} title={'Plantas para diversificación'} />
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonios -->
            <section class="flex justify-center items-center flex-col mb-12">
                <div class="max-w-3xl mx-auto text-center">
                    <h2 class="text-5xl px-4 mb-8 font-medium">
                        ¡Lea lo que dicen <span class="text-green-500 font-bold"
                            >nuestros</span
                        > clientes!
                    </h2>
                    <p class="px-8 text-center text-xl mx-auto">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Perferendis, tempora?
                    </p>
                </div>
                <div
                    class="grid md:grid-cols-4 gap-4 sm:gap-6 px-4 mx-auto max-w-screen-xl mt-12"
                >
                    <Testimonio />
                    <Testimonio />
                    <Testimonio />
                    <Testimonio />
                </div>
            </section>
            <!-- galeria -->
            <Galeria />
        </div>
    </main>
</Layaout>
