---

---

<article
    class="bg-gray-50 p-8 gap-6 flex flex-col rounded-xl shadow-2xl items-center"
>
    <header class="flex flex-col gap-8">
        <div class="w-48 h-48 overflow-hidden rounded-full img-box">
            <img
                src="/perfil.jpg"
                class="w-full object-cover"
                alt="foto de perfil equipo"
            />
        </div>
        <div class="text-center">
            <h3 class="text-xl font-semibold">Nombre y Apellido</h3>
            <p class="text-lg font-semibold text-gray-500">Puesto de trabajo</p>
        </div>
    </header>
    <div class="body flex flex-col gap-6 items-center">
        <div class="text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum,
            cupiditate adipisci accusamus laudantium doloribus voluptates
            possimus enim omnis cumque.
        </div>
        <div class="flex gap-6 text-2xl net">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</article>

<style>
    .img-box {
        outline: 10px solid #00000021;
    }

    .net a:hover {
        color: var(--color1);
    }

</style>
