---
import {
    FaFacebookSquare,
    FaInstagram,
    FaTwitter
  } from "react-icons/fa";
---

<article
    class="bg-gray-50 p-8 gap-6 flex flex-col rounded-xl shadow-2xl items-center"
>
    <header class="flex flex-col gap-8">
        <div class="w-48 h-48 overflow-hidden rounded-full img-box">
            <img
                src="/perfil.jpg"
                class="w-full object-cover"
                alt="foto de perfil equipo"
            />
        </div>
        <div class="text-center">
            <h3 class="text-xl font-semibold">Nombre y Apellido</h3>
            <p class="text-lg font-semibold text-gray-500">Puesto de trabajo</p>
        </div>
    </header>
    <div class="body flex flex-col gap-6 items-center">
        <div class="text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum,
            cupiditate adipisci accusamus laudantium doloribus voluptates
            possimus enim omnis cumque.
        </div>
        <div class="flex gap-6 text-2xl net">
            <a href="#"><FaFacebookSquare /></a>
            <a href="#"><FaInstagram /></a>
            <a href="#"><FaTwitter /></a>
        </div>
    </div>
</article>

<style>
    /* .img-box {
        : 6px solid #000;
    } */

    .net a:hover {
        color: var(--color1);
    }

</style>
