---
const bg = "bg-gradient-to-br from-slate-700 via-lime-900 to-slate-800";
const clip = "clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);";
---

<div class="banner relative">
    <section class="pb-32 pt-14 lg:pt-32 sm:pt-20 relative overflow-x-hidden">
        <div class="flex flex-col items-center">
            <h1 class="mb-10 px-4 text-center capitalize">
                Impulsando el <span class="font-bold">desarrollo agrícola</span> de las comunidades
            </h1>
            <p class="max-w-3xl px-8 text-center text-xl font-light">
                <span class="text-green-500 font-bold">AZUABANA</span> es una organización comprometida con el desarrollo sostenible de los productores de banano de la región sur de la República Dominicana promoviendo el desarrollo ambiental y social de las comunidades donde habitan sus socios.
            </p>
        </div>
        <div
            class="flex mb-14 mt-8 justify-center gap-8 md:mb-20 w-full sm-mb-16 lg:mb-20"
        >
            <a href="/contacto" class="button rounded-full hover:bg-green-600"
                >Contactar</a
            >
            <a
                href="/servicios"
                class="button hidden sm:block bg-red-500 hover:bg-red-600"
                >Servicios</a
            >
        </div>
    </section>
</div>

<style>
    h1 span {
        color: var(--color1);
    }

    .button {
        display: inline-flex;
        background: var(--color1);
        padding: 10px 30px;
        font-size: 20px;
        letter-spacing: 0.4px;
    }

    .banner {
        background: url("/bg-banner.jpeg") no-repeat fixed;
        background-position: center;
        background-size: cover;
        color: #fff;
        opacity: 50;
        background-blend-mode: soft-light;
        background-color: rgba(0, 0, 0, 0.8);
        clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
    }

    .banner h1 {
        font-size: 50px;
        max-width: 12ch;
    }

    .banner p {
        line-height: 1.7;
    }

    @media (min-width: 640px) {
        .banner h1 {
            max-width: 20ch;
        }

        .banner {
            clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
        }
    }

    @media (min-width: 1024px) {
        .banner h1 {
            font-size: 62px;
        }
    }
</style>
