---
import {
  FaFacebookSquare,
  FaInstagram,
  FaTwitter,
  FaYoutube,
} from "react-icons/fa";
---

<footer class="container-footer text-gray-300">
  <div
    class="flex flex-col items-start justify-between gap-12 py-20 md:py-24 sm:flex-row-reverse"
  >
    <div class="networks flex items-center gap-4 text-4xl">
      <a href="#"><FaFacebookSquare /></a>
      <a href="#"><FaInstagram /></a>
      <a href="#"><FaTwitter /></a>
      <a href="#"><FaYoutube /></a>
    </div>
    <section
      class="grid grid-cols-2 gap-12 sm:flex sm:flex-wrap sm:gap-16 lg:gap-20"
    >
      <div class="sobre max-w-sm flex flex-col gap-10 col-span-2 shrink-0">
        <a href="/" class="flex gap-3 items-center sm:items-start">
          <img src="/logo.jpg" class="w-14 h-14 rounded-full" alt="logo">
          <h4 class="text-xl text-green-500 font-bold">AZUABANA</h4>
        </a>
        <p class="leading-relaxed">
          AZUABANA es una asociación conformada por productores de banano de la
          región Sur de República Dominicana Incorporada bajo la Ley No.520
          Mediante el decreto 413-03 Fecha 28 de Agosto de 2003. Se fundó en la
          cuidad de Azua de Compostela, el 18 de julio de 2002 con una matrícula
          de de 13 productores y en la actualidad cuenta con 50 miembros con una
          extensión de terreno de 350 hectáreas todas bajo el sistema de
          produción orgánica.
        </p>
      </div>
      <div class="nav flex flex-col gap-10 shrink-0">
        <h4 class="text-xl font-bold text-gray-400">Navegación</h4>
        <nav class="flex flex-col gap-4">
          <a href="/" class="hover:text-gray-100">Inicio</a>
          <a href="/acerca-de" class="hover:text-gray-100">Sobre nosotros</a>
          <a href="/servicios" class="hover:text-gray-100">Servicios</a>
          <a href="/productos" class="hover:text-gray-100">Productos</a>
          <a href="/" class="hover:text-gray-100">Blog</a>
          <a href="/contacto" class="hover:text-gray-100">Contacto</a>
        </nav>
      </div>
      <div class="contacto flex flex-col gap-10">
        <h4 class="text-xl font-bold text-gray-400">Contáctanos</h4>
        <div class="flex flex-col gap-4">
          <div class="hover:text-gray-100 flex gap-4 items-center">
            <i class="fa-solid fa-location-dot"></i><p>
              C/ Bartolomé Barceló, Azua de Compostela
            </p>
          </div>
          <div class="hover:text-gray-100 flex gap-4 items-center">
            <i class="fa-solid fa-envelope"></i><p class="truncate underline">
              azuabana.5549@gmail.com
            </p>
          </div>
          <div class="hover:text-gray-100 flex gap-4 items-center">
            <i class="fa-solid fa-phone"></i><p>809-521-5549</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>

<!-- <div class="">
  <div class="copy"><p>&#169 Copyright 2022 All rights reserved.</p></div>
  <div class="terminos-condiciones">
    <a href="#">Terminos y condiciones</a>
    <a href="#">Politica</a>
    <a href="#">Privacidad</a>
  </div> -->

<style>
  .nav a:hover,
  .contacto p:hover {
    text-decoration: underline;
  }

  .words {
    white-space: pre-wrap;
  }

  .networks > a:hover {
    color: var(--color1);
  }

  .container-footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 1536px;
    padding-right: 2rem;
    padding-left: 2rem;
    border-bottom: 1px solid #cccccc7a;
  }

  .instagram .ig-fotos-container {
    /* display: grid;
    grid-template-columns: repeat(3, 12fr);
    grid-template-rows: 70% 70%; */

    /* gap: 5px; */
  }
  .instagram .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .instagram .imgBox {
    transition: all 100ms ease-in-out;
  }

  .instagram .imgBox:hover {
    transform: scale(1.5);
  }

  @media (min-width: 768px) {
    .container-footer {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
</style>

<!-- <div class="ig-fotos-container">
  <div class="imgBox">
    <img
      src="https://st.depositphotos.com/1491329/2998/i/600/depositphotos_29984153-stock-photo-spring-nature-beautiful-landscape-green.jpg"
      alt=""
    />
  </div>
  <div class="imgBox">
    <img
      src="https://saposyprincesas.elmundo.es/wp-content/uploads/2013/05/proteger-la-naturaleza.jpg"
      alt=""
    />
  </div>
  <div class="imgBox">
    <img
      src="https://historiadelavida.editorialaces.com/wp-content/uploads/2017/05/diseno-en-la-naturaleza-entrada.jpg"
      alt=""
    />
  </div>
  <div class="imgBox">
    <img
      src="https://images.ctfassets.net/hrltx12pl8hq/a2hkMAaruSQ8haQZ4rBL9/8ff4a6f289b9ca3f4e6474f29793a74a/nature-image-for-website.jpg?fit=fill&w=480&h=320"
      alt=""
    />
  </div>
  <div class="imgBox">
    <img
      src="https://blogs.iadb.org/sostenibilidad/wp-content/uploads/sites/26/2021/04/Recuperacion-del-COVID-inversion-en-naturaleza.jpg"
      alt=""
    />
  </div>
  <div class="imgBox">
    <img
      src="https://www.ambientum.com/wp-content/uploads/2019/09/luz-naturaleza.jpg"
      alt=""
    />
  </div>
</div> -->

<!-- <style>
    todo FOOTER STYLE

    .footer {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        *color: #6c757d;
        color: #abb2b9;
        font-family: "Montserrat", sans-serif;

        font-size: 16px;
        *background: rgb(33, 33, 33);
        background: #191919;
    }

    .footer-start {
        display: grid;
        grid-template-columns: repeat(3, 2fr) 3fr;
        gap: 25px;

        font-size: 0.87em;
    }

    .footer-start .about-us .redes {
        margin-top: 20px;
    }

    .footer-start .about-us .redes a {
        color: #abb2b9;
        font-size: 20px;
        margin-right: 20px;
        transition: all 100ms ease-in-out;
    }

    .footer-start .about-us .redes a:hover {
        color: var(--color1);
    }

    .footer-start .ig .ig-fotos-container {
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        grid-template-rows: 70% 70%;

        gap: 5px;
    }

    .footer-start .ig .imgBox img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .footer-start .ig .imgBox {
        transition: all 100ms ease-in-out;
    }

    .footer-start .ig .imgBox:hover {
        transform: scale(1.5);
    }

    .footer-start .about-us p {
        word-spacing: 5px;
    }

    .footer-end {
        display: flex;
        justify-content: space-between;
        font-size: 0.87em;
    }

    .footer h4 {
        margin-bottom: 30px;
        color: rgb(231, 231, 231);
        font-weight: 500;
        display: inline-block;
        *border-bottom: 2px solid var(--color1);
        *padding-bottom: 10px;
    }

    .footer h4::after {
        content: "";
        position: relative;
        top: 8px;
        right: 0;
        width: 50%;
        height: 3px;
        background: var(--color1);
        display: block;
        margin: auto;
        border-radius: 10px;

        transition: all 100ms ease;
    }

    .footer h4:hover::after {
        width: 100%;
    }

    .footer .navegacion .nav {
        display: flex;
        flex-direction: column;
    }

    .footer .navegacion .nav a {
        color: #abb2b9;
    }

    .footer .navegacion .nav a:hover {
        color: #fff;
    }

    .footer .navegacion a,
    .footer .contactos .item {
        margin-bottom: 20px;
        font-size: 0.87em;

        display: flex;
    }

    .footer .contactos .item i {
        margin-right: 20px;
        position: relative;
        top: 3px;
    }

    .footer .footer-end {
        margin-top: 50px;
        border-top: 1px solid rgba(205, 205, 205, 0.589);
        padding-top: 20px;
    }

    .footer .footer-end .terminos-condiciones a {
        color: #abb2b9;
        margin-left: 20px;
    }

    .footer .footer-end .terminos-condiciones a:hover {
        color: #fff;
    }
</style> -->
