<footer class="container-footer text-gray-300">
  <div
    class="flex flex-col items-start justify-between gap-12 py-20 md:py-24 sm:flex-row-reverse"
  >
    <div class="networks flex items-center gap-6 text-4xl">
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <section
      class="grid grid-cols-2 gap-12 sm:flex sm:flex-wrap sm:gap-16 lg:gap-20"
    >
      <div class="sobre max-w-sm flex flex-col gap-10 col-span-2 shrink-0">
        <a href="/" class="flex gap-5 items-center sm:items-start">
          <img src="/logo.jpg" class="w-14 h-14 rounded-full" alt="logo">
          <h4 class="text-xl text-green-500 font-bold">AZUABANA</h4>
        </a>
        <p class="leading-relaxed">
          AZUABANA es una asociación conformada por productores de banano de la
          región Sur de República Dominicana Incorporada bajo la Ley No.520
          Mediante el decreto 413-03 Fecha 28 de Agosto de 2003. Se fundó en la
          cuidad de Azua de Compostela, el 18 de julio de 2002 con una matrícula
          de de 13 productores y en la actualidad cuenta con 50 miembros con una
          extensión de terreno de 350 hectáreas todas bajo el sistema de
          produción orgánica.
        </p>
      </div>
      <div class="nav flex flex-col gap-10 shrink-0">
        <h4 class="text-xl font-bold text-gray-400">Navegación</h4>
        <nav class="flex flex-col gap-4">
          <a href="/" class="hover:text-gray-100">Inicio</a>
          <a href="/acerca-de" class="hover:text-gray-100">Sobre nosotros</a>
          <a href="/servicios" class="hover:text-gray-100">Servicios</a>
          <a href="/productos" class="hover:text-gray-100">Productos</a>
          <a href="/" class="hover:text-gray-100">Blog</a>
          <a href="/contacto" class="hover:text-gray-100">Contacto</a>
        </nav>
      </div>
      <div class="contacto flex flex-col gap-10">
        <h4 class="text-xl font-bold text-gray-400">Contáctanos</h4>
        <div class="flex flex-col gap-4">
          <div class="hover:text-gray-100 flex gap-4 items-center">
            <i class="fa-solid fa-location-dot"></i><p>
              C/ Bartolomé Barceló, Azua de Compostela
            </p>
          </div>
          <div class="hover:text-gray-100 flex gap-4 items-center">
            <i class="fa-solid fa-envelope"></i><p class="truncate underline">
              azuabana.5549@gmail.com
            </p>
          </div>
          <div class="hover:text-gray-100 flex gap-4 items-center">
            <i class="fa-solid fa-phone"></i><p>809-521-5549</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <nav aria-label="Legal" class="grid grid-cols-[1fr,auto] items-center justify-between gap-x-4 gap-y-16 py-8 opacity-60 md:grid-cols-[auto,1fr,auto] md:py-12">
		<a class="link mr-auto" href="/">Terminos y condiciones</a>
		<p class="col-span-2 text-center md:text-right md:col-span-1">
			&#169 Copyright 2023 All rights reserved.
		</p>
	</nav>
</footer>

<!-- <div class="">
  <div class="copy"><p>&#169 Copyright 2022 All rights reserved.</p></div>
  <div class="terminos-condiciones">
    <a href="#">Terminos y condiciones</a>
    <a href="#">Politica</a>
    <a href="#">Privacidad</a>
  </div> -->

<style>
  .nav a:hover,
  .contacto p:hover {
    text-decoration: underline;
  }

  .words {
    white-space: pre-wrap;
  }

  .networks > a:hover {
    color: var(--color1);
  }

  .container-footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 1536px;
    padding-right: 2rem;
    padding-left: 2rem;
    border-bottom: 1px solid #cccccc7a;
  }

  .instagram .ig-fotos-container {
    /* display: grid;
    grid-template-columns: repeat(3, 12fr);
    grid-template-rows: 70% 70%; */

    /* gap: 5px; */
  }
  .instagram .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .instagram .imgBox {
    transition: all 100ms ease-in-out;
  }

  .instagram .imgBox:hover {
    transform: scale(1.5);
  }

  @media (min-width: 768px) {
    .container-footer {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
</style>