---
import { AiOutlineMenu } from "react-icons/ai";
---

<div class="sticky top-0 z-20 max-h-screen">
    <header class="header shadow-lg">
        <div class="container-header flex h-header items-center justify-between">
            <div class="logotipo"><a href="#" class="text-xl">AZUABANA</a></div>
            <nav class="nav ml-16 hidden shrink flex-row items-center text-xl gap-16 lg:flex">
                <a href="#" class="select">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Proudctos</a>
                <a href="#">Contacto</a>
                <a href="#">Acerca de</a>
            </nav>
            <div class="block lg:hidden">
                <AiOutlineMenu />
            </div>
        </div>
    </header>
</div>

<style>
    .container-header {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        max-width: 1536px;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .h-header {
        height: 5rem;
    }

    @media (min-width: 768px) {
    .container-header {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

</style>
