---
import { AiOutlineMenu } from "react-icons/ai";
---

<div class="sticky top-0 max-h-screen">
    <header class="header shadow-xl bg-gray-100">
        <div class="container-header flex h-header items-center justify-between">
            <div class="logotipo"><a href="/" class="text-xl text-green-500 font-bold">AZUABANA</a></div>
            <nav class="nav ml-16 hidden shrink flex-row items-center text-xl gap-16 lg:flex">
                <a href="/">Inicio</a>
                <a href="/servicios">Servicios</a>
                <a href="/productos">Proudctos</a>
                <a href="/contacto">Contacto</a>
                <a href="/acerca-de">Acerca de</a>
            </nav>
            <div class="lg:hidden font-bold text-3xl bg-gray-200 w-12 h-12 flex justify-center items-center rounded-full">
                <AiOutlineMenu />
            </div>
        </div>
    </header>
</div>

<style>

    .sticky {
        z-index: 3000;
    }

    .nav > a:hover {
        text-decoration: underline;
    }

    .container-header {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        max-width: 1536px;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .h-header {
        height: 5rem;
    }

    @media (min-width: 768px) {
    .container-header {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

</style>
