---
const {
    title = "Titulo del Servicio",
    description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ipsum impedit fugiat nobis, animi nulla ad eligendi qui praesentium ullam, consequuntur aliquam quam laudantium, ea tempora error facere! Optio, modi.",
    imgPath = "https://img.gruporeforma.com/imagenes/960x640/6/194/5193257.jpg", more = true
} = Astro.props;
---

<article class="card shadow-xl flex flex-col lg:flex-row text-right flex-1">
    <div class="box-img lg:w-72 shrink-0">
        <img src={imgPath} alt="imagen-servicio" />
    </div>
    <div class="content flex flex-col gap-4 p-6 text-left">
        <h2 class="text-2xl font-medium">{title}</h2>
        <p class="text-gray-600 text-xl">{description}</p>
        {more ? <a href="/servicios" class="text-xl mt-1 text-green-600 hover:text-green-500">Ver más</a> : <a href="/contacto" class="button rounded-full text-gray-50 hover:bg-green-600"
        >Contactar</a>}
    </div>
</article>

<style>

    .button {
        display: inline-flex;
        background: var(--color1);
        text-align: center;
        padding: 10px 30px;
        font-size: 20px;
        letter-spacing: 0.4px;
        width: 150px;
    }

    .card {
        background: var(--color3);
        display: grid;
        grid-template-columns: 1fr 3fr;
        /* height: 150px; */
        margin-bottom: 25px;
    }

    .card .content {
        text-align: start;
    }

    .box-img {
        overflow: hidden;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 1024px){
        .box-img {
            clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);

        }
    }
</style>
