---
const {
    title = "Titulo del Servicio",
    description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ipsum impedit fugiat nobis, animi nulla ad eligendi qui praesentium ullam, consequuntur aliquam quam laudantium, ea tempora error facere! Optio, modi.",
    imgPath = "https://img.gruporeforma.com/imagenes/960x640/6/194/5193257.jpg",
} = Astro.props;
---

<div class="card">
    <div class="box-img">
        <img src={imgPath} alt="imagen-servicio" />
    </div>
    <div class="content">
        <h1>{title}</h1>
        <p>{description}</p>
        <a href="#">Ver más</a>
    </div>
</div>

<style>
    .card {
        background: var(--color3);
        display: grid;
        grid-template-columns: 1fr 3fr;
        /* height: 150px; */
        margin-bottom: 25px;
    }

    .card .content {
        text-align: start;
    }

    .box-img {
        overflow: hidden;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
