.content-text {
    background: rgba(0, 0, 0, .6);
    color: #fff;
    display: none;
}

.img-container:hover .content-text {
    display: flex;
}

.img-container:hover img {
    filter: blur(5px);
}